<ion-header>
  <ion-navbar>



    <ion-title style="align-items: center;display: flex;"> <img [src]="player?.img" class="radius avatar"> {{player?.name}}'s details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-list>
      <ion-item >
          <ion-label> Name</ion-label>
          <ion-input text-right [(ngModel)]="player.name"></ion-input>
        </ion-item>
      <ion-item>
          <ion-label> Arrive</ion-label>
          <ion-toggle  [(ngModel)]="player.arrive"  (ionChange)="updatePlayer(player)" ></ion-toggle>
        </ion-item>
        <ion-item [hidden]="admin">
            <ion-label> Admin</ion-label>
            <ion-toggle  [(ngModel)]="player.admin"></ion-toggle>
          </ion-item>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-input  text-right [(ngModel)]="player.phone"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label>Number</ion-label>
      <ion-badge [hidden]="!player.index" item-right>{{player?.number}}</ion-badge>
      <ion-input [hidden]="player.index" text-right [(ngModel)]="player.number"></ion-input>
    </ion-item>
     <ion-item [hidden]="admin">
      <ion-label>Strength
          <ion-badge item-right>{{player?.strength}}</ion-badge>
      </ion-label>

          <ion-range item-right [(ngModel)]="player.strength" min="1" max="100" step="0.01" pin="true" >
              <ion-label range-left class="small-text">0</ion-label>
              <ion-label range-right>100</ion-label>
          </ion-range>



      <!-- <ion-badge item-right>{{player?.strength}}</ion-badge> -->
    </ion-item>
     <ion-item>
      <ion-label>Image</ion-label>
      <ion-input  item-right type="text"  [(ngModel)]="player.img" ></ion-input>
      <!-- <ion-text item-right>{{player?.img}}  [(ngModel)]="player.img"</ion-text> -->
    </ion-item>
  </ion-list>
  <button *ngIf="player.index === 0 || player.index > 0" ion-button full (click)="updatePlayer(player)">Update</button>
  <button *ngIf="player.index == undefined" ion-button full (click)="addNewPlayer(player)">Add New Player</button>
  <button *ngIf="player.index === 0 || player.index > 0"  ion-button block color="danger"  (click)="deletePlayer(player)">Delete Player</button>


</ion-content>
