page-players {

    .players-main{
        background: url('../assets/soccer_field.png') 0% 0% / 100% 100% no-repeat;
        // height:  calc(100% - 120px);
          width: 100%;
          display:flex;
           border: 1px solid black;
           flex-direction:column;
    }
    .jersey {
        height: 47px;
        width: 39px;
        /* overflow: hidden; */
        top: 24px;
        left: 50%;
        position: relative;
        margin-bottom: 10px;
        margin-left: -13px;
    }
    .radius {
        border-radius: 50%;
    }
    .bench-background {
        background-image: url(../assets/playersBase.png);
        background-position: 100% 100%;
        // height: 60px;
        margin-bottom: -5px;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-bottom: -5px;
    }
    .item-bench{
        display: inline-block;
        padding: 5px;
    }

    .wide-as-needed {
        overflow: scroll;
        white-space: nowrap;
        width:100%;
    //    display: flex;
    }



    .first-player{
        position: relative;
        top:40px;
    }
    .avatar {

        height: 27px;
        width: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
        /* box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2); */
        box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 0px 5px 4px rgba(0,0,0,.2);
    }
  .avatar-injured {
    height: 27px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    /* box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2); */
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px #fcdb1f, 0 0px 5px 4px rgb(252, 219, 31);
  }

    .container{
        align-items: center;
        display:flex;
        flex: 1;
        width: 100%;
        height:50%;
         justify-content: space-around;
         flex-wrap:wrap;
    }

    .item{
        display:flex;

        height: 40px;
    }
    // .item:nth-child(1) {
    //     flex-basis: 100%;
    //     height: 30px;
    //     justify-content: center;
    //     top:40px;
    //     position: relative;
    //     }
    .child{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:#FFFFFF;
        padding-left: 10px;
    }
    .item:nth-child(even) {
        flex-basis: 50%;
        justify-content: center;
        height: 50px;
       // border-color: red;
       // border:1px solid yellow;
        }
        .item:nth-child(odd) {
            flex-basis: 50%;
            height: 50px;
            justify-content: center;
         //   border-color: red;
         //   border:1px solid blue;
        }



}
